@import "~src/colors.scss";

.container-campaign-info {
  background-color: $artushima-lightgray;
  border-radius: 5px;
  height: 100%;
}

.campaign-title {
  color: white;
}

.campaign-minor-details {
  font-size: small;
  color: $artushima-darkgray;
}
