@import "~src/colors.scss";

.container-campaign-info {
  background-color: $artushima-lightgray;
  height: 100%;
}

.campaign-minor-info-row {
  padding-left: 15px;

  .campaign-minor-info-text {
    font-size: small;
    color: gray;
  }
}

