@import "~src/colors.scss";

.details-header-title {
  background-color: $artushima-lightgray;
  border-radius: 5px;
  height: 100%;
  color: white;
}

.details-header-additional-info {
  font-size: small;
  color: $artushima-darkgray;
}
