<div class="container">

  <!-- Header -->
  <div class="row pb-2">
    <div class="col">
      <artushima-header
        [icon]="iconBook"
        [title]="'Kampania Testowa'"
        [titleId]="'campaign-details__campaignTitle'">
      </artushima-header>
    </div>
  </div>

  <!-- Campaign info -->
  <div class="row pb-4">
    <div class="col">
      <artushima-campaign-details-campaign-info
        [id]="1"
        [creationDate]="'2020-01-01'"
        [gameMasterName]="'Test MG'">
      </artushima-campaign-details-campaign-info>
    </div>
  </div>

  <!-- In-Game time info -->
  <div class="row pt-2 pb-2">
    <div class="col">
      <artushima-campaign-details-in-game-time-info
        [startDate]="'2053-11-18'"
        [passedDays]="10"
        [currentDate]="'2053-11-28'">
      </artushima-campaign-details-in-game-time-info>
    </div>
  </div>

  <!-- Campaign players info -->
  <div class="row pt-2 pb-2">
    <div class="col">
      <artushima-campaign-players-info>
      </artushima-campaign-players-info>
    </div>
  </div>

  <!-- Campaign timeline -->
  <div class="row pt-2 pb-2">
    <div class="col">
      <artushima-campaign-details-campaign-timeline>
      </artushima-campaign-details-campaign-timeline>
    </div>
  </div>

</div>
