<div class="container">

  <!-- Header -->
  <div class="row pb-2">
    <div class="col">
      <artushima-header [icon]="iconBook" [title]="(campaignDetails$ | async)?.title"
        [titleId]="'campaign-details__campaignTitle'">
      </artushima-header>
    </div>
  </div>

  <!-- Campaign info -->
  <div class="row pb-4">
    <div class="col">
      <artushima-campaign-details-campaign-info [id]="campaignId"
        [creationDate]="(campaignDetails$ | async)?.creationDate"
        [gameMasterName]="(campaignDetails$ | async)?.gameMasterName">
      </artushima-campaign-details-campaign-info>
    </div>
  </div>

  <!-- Campaign GM's toolbar -->
  <div *ngIf="(currentUser$ | async)?.userName === (campaignDetails$ | async)?.gameMasterName" class="row pb-4">
    <div class="col">
      <artushima-campaign-details-campaign-gm-toolbar [campaignId]="campaignId">
      </artushima-campaign-details-campaign-gm-toolbar>
    </div>
  </div>

  <!-- In-Game time info -->
  <div class="row pt-2 pb-2">
    <div class="col">
      <artushima-campaign-details-in-game-time-info [startDate]="(campaignDetails$ | async)?.startDate"
        [passedDays]="(campaignDetails$ | async)?.passedDays" [currentDate]="(campaignDetails$ | async)?.currentDate">
      </artushima-campaign-details-in-game-time-info>
    </div>
  </div>

  <!-- Campaign players info -->
  <div class="row pt-2 pb-2">
    <div class="col">
      <artushima-campaign-players-info>
      </artushima-campaign-players-info>
    </div>
  </div>

  <!-- Campaign timeline -->
  <div class="row pt-2 pb-2">
    <div class="col">
      <artushima-campaign-details-campaign-timeline>
      </artushima-campaign-details-campaign-timeline>
    </div>
  </div>

</div>
