<div>
  <div class="row">
    <div class="col-12">
      <span id="campaign-info_title" class="campaign-title">{{ campaignTitle }}</span>
    </div>
  </div>
  <div class="row campaign-minor-info-row">
    <div class="col-2">
      <span id="campaign-info_id" class="campaign-minor-info-text">ID: {{ campaignId }}</span>
    </div>
    <div class="col-10">
      <span 
        id="campaign-info_created-on" 
        class="campaign-minor-info-text"
      >Utworzono: {{ campaignCreatedOn | date:'dd.MM.yyyy' }}</span>
    </div>
  </div>
</div>
