<nav class="navbar fixed-top navbar-dark bg-dark">
  <span class="navbar-text">
    <span class="m-2">
      <fa-icon [icon]="iconBiohazard" size="lg"></fa-icon>
    </span>
    <span class="m-2">Artushima</span>
  </span>
  <span class="navbar-text">
    <!-- The functionality of this button must be changed, when the required components will be ready. -->
    <span class="m-2 art-navbar-btn" (click)="logInOutOnClick()">
      <fa-icon [icon]="iconLogInOut" size="lg"></fa-icon>
    </span>
  </span>
</nav>
